@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body {
  background-color: #fffcf8;
  font-family: "DINNeuzeitGrotesk LT", Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.5px;
}
body h1, body h2 {
  font-family: "Windsor", Verdana, Tahoma, sans-serif;
}
body h1 {
  font-size: 60px;
  text-shadow: 0 0 1.5px black;
}
@media screen and (max-width: 1200px) {
  body h1 {
    font-size: 40px;
    text-align: center;
    font-size: 3rem;
  }
}
body a, body p, body label {
  font-weight: 600;
  font-size: smaller;
  text-align: center;
}

/*      Header       */
.siteAlert {
  position: relative;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5rem;
  z-index: 2;
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 2px rgba(216, 191, 166, 0.432);
  display: flex;
  justify-content: space-between;
}
.header .miniLogoContainer {
  width: 30%;
  display: flex;
  margin: 0;
  justify-content: center;
}
.header .miniLogoContainer #miniLogo {
  max-width: 90%;
  height: 6vh;
  mix-blend-mode: multiply;
}
@media screen and (max-width: 790px) {
  .header .miniLogoContainer #miniLogo {
    min-width: fit-content;
  }
}
.header .menuNav {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 2;
}
.header .menuNav .navList {
  display: flex;
  align-items: center;
  align-self: center;
}
@media screen and (max-width: 790px) {
  .header .menuNav .navList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header .menuNav .navList li {
    padding: 1vh 16vh;
    align-items: center;
    margin: 5px;
  }
}
.header .menuNav .navList li {
  display: inline-block;
  margin: 0 10px;
}
.header .menuNav .navList li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 15px;
  transition: transform 0.1s;
}
.header .menuNav .navList li a:hover {
  transform: scale(1.1);
  color: #333;
}
@media screen and (max-width: 790px) {
  .header .menuNav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 0 1rem 0;
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 3.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.2);
  }
}
.header .menuNav.visible {
  opacity: 1;
  visibility: visible;
}
.header .socialIcons {
  list-style: none;
  display: flex;
  margin: 0px;
  width: 30%;
  justify-content: center;
}
.header .socialIcons .social-icons {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header .socialIcons .social-icons li {
  margin: 0 10px;
}
.header .socialIcons .social-icons a {
  color: black;
  font-size: 20px;
}

/* Menu Desplegable */
.abrirMenu, .cerrarMenu {
  display: none;
}
@media screen and (max-width: 790px) {
  .abrirMenu, .cerrarMenu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
}

/* Estilos para los iconos de Font Awesome */
.fa-whatsapp:hover {
  color: #5f5f5f;
}

.fa-facebook:hover {
  color: #5f5f5f;
}

.fa-instagram:hover {
  color: #5f5f5f;
}

/* Slider Principal */
.mainContent {
  margin-top: 1px;
}

/*          Slider         */
.slideShowContainer {
  display: flex;
}
@media screen and (max-width: 790px) {
  .slideShowContainer {
    flex-direction: column;
    flex-flow: column;
  }
}

.slideContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: center;
}
.slideContainer:nth-child(1) {
  background-image: linear-gradient(to right top, #ffc483, #ffbba8, #fbbcca, #dfc4da, #cbc9d5);
}
.slideContainer:nth-child(2) {
  background-image: linear-gradient(to right top, #d47541, #df9557, #e9b472, #f3d293, #ffefb7);
}
.slideContainer:nth-child(3) {
  background-image: radial-gradient(circle, #bc5e7f, #da7c7d, #ee9f81, #fac58f, #ffeba9);
}
@media screen and (max-width: 790px) {
  .slideContainer {
    flex-direction: column;
  }
}

.prodSlider {
  width: 100%;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}
.prodSlider h1 {
  text-align: center;
  margin: 2rem;
}
@media screen and (max-width: 790px) {
  .prodSlider {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.enlaceBoton {
  align-items: center;
  background-color: black;
  display: inline-block;
  text-decoration: none;
  padding: 15px 50px 15px 50px;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.enlaceBoton:hover {
  background-color: #333;
}

.imgSlider {
  display: flex;
  background-position: center;
  width: 50%;
  background-size: cover;
}
@media screen and (max-width: 790px) {
  .imgSlider {
    width: 100%;
    height: 50vh;
  }
}

.callIndex {
  width: 50%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 790px) {
  .callIndex {
    width: 100%;
    height: 50vh;
    font-size: medium;
    order: 2;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.next {
  right: 0;
}

/* Caption text */
.numbertext {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 18px;
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
/*        banner          */
.centralBanner {
  width: 100%;
  background-image: url("../images/central-banner.webp");
  background-size: cover;
  height: 320px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.centralBanner .callCentralBanner {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.centralBanner .callCentralBanner .callCentralBanner h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.centralBanner .callCentralBanner .enlaceBoton {
  margin-top: 2rem;
}

/*           testimonios        */
.testimoniosContainer {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}
.testimoniosContainer .testimonios {
  text-align: center;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.testimoniosContainer .testimonios .testimoniosImg {
  width: 150px;
  border-radius: 50%;
}
.testimoniosContainer .testimonios h2 {
  margin-top: 10px;
}
.testimoniosContainer .testimonios h3 {
  color: #777;
}
.testimoniosContainer .testimonios p {
  margin-top: 10px;
  font-weight: 600;
  font-size: smaller;
}
@media screen and (max-width: 790px) {
  .testimoniosContainer {
    margin: 40px 20px;
  }
  .testimoniosContainer .testimoniosContainer {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
}

/* Estilos para ocultar los testimonios excepto el primero */
.testimoniosContainer .testimonios:not(.testimonio-1) {
  display: none;
}

/* Estilos para los dots de navegación */
.dotsContainer {
  text-align: center;
  margin-top: 10px;
}
.dotsContainer .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ccc;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .dotsContainer .dot {
    height: 15px;
    width: 15px;
    margin: 0 8px;
  }
}
.dotsContainer .dot.active {
  background-color: #333;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/*                           Join Us                                 */
.joinUs {
  background-color: #F9F4ED;
  padding: 3rem;
  text-align: center;
  margin-top: 2rem;
}
.joinUs h2 {
  margin-bottom: 25px;
}
.joinUs #joinEmail {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media screen and (max-width: 790px) {
  .joinUs #joinEmail {
    width: 180px;
    margin: 0 0 10px 0;
  }
}
.joinUs button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.joinUs button:hover {
  background-color: #333;
}
@media screen and (max-width: 790px) {
  .joinUs {
    padding: 2rem;
  }
}

/* footer */
.site-footer {
  background-color: #E2D7C8;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 790px) {
  .site-footer {
    display: inherit;
  }
}
.site-footer .footer-text {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 790px) {
  .site-footer .footer-text {
    font-size: 12px;
  }
}
.site-footer .miniLogoContainer {
  width: 25%;
}
@media screen and (max-width: 790px) {
  .site-footer .miniLogoContainer {
    display: none;
  }
}
.site-footer .miniLogoContainer #miniLogo {
  max-width: 90%;
  height: 6vh;
  mix-blend-mode: multiply;
}
.site-footer .socialFooter {
  display: flex;
  margin: 0px;
  width: 25%;
  justify-content: center;
}
@media screen and (max-width: 790px) {
  .site-footer .socialFooter {
    display: none;
  }
}
.site-footer .socialFooter .social-icons {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 25%;
}
.site-footer .socialFooter .social-icons li {
  margin: 0 10px;
}
.site-footer .socialFooter .social-icons a {
  color: #333;
  font-size: 20px;
}

/*      Productos      */
.mainProductos {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.mainProductos .upBanner {
  height: 100px;
  width: 100%;
  background-image: url(../images/Shroom1.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
.mainProductos .prodSection {
  background-color: #F9F4ED;
  display: flex;
  height: 140px;
  justify-content: left;
  align-items: center;
  border-top: 1px solid rgba(216, 191, 166, 0.432);
  padding-left: 7rem;
}
@media screen and (max-width: 790px) {
  .mainProductos .prodSection {
    padding-left: 0rem;
    justify-content: center;
  }
}
.mainProductos .productContainer {
  text-align: center;
}
.mainProductos .productContainer .productImg {
  max-width: 300px;
  margin: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainProductos .productContainer .prodCategorias {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}
.mainProductos .productContainer .prodCategorias .prodBox {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  align-items: center;
  justify-content: center;
}
.mainProductos .productContainer .prodCategorias .prodBox h2 {
  margin: 10px 0 15px 0;
}
.mainProductos .productContainer .prodCategorias .prodBox a {
  padding: 6px;
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .mainProductos .productContainer .prodCategorias .prodBox {
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 1200px) {
  .mainProductos .productContainer .prodCategorias {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1200px) {
  .mainProductos .productContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}

/* Nosotros.html */
.mainNosotros {
  text-align: center;
  margin: 5rem 0 0rem 0rem;
  height: 99vh;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0 2rem;
}
.mainNosotros .nosotros {
  align-items: center;
  height: 100%;
}
.mainNosotros .upBannerNos {
  height: 100px;
  width: 100%;
  background-image: url(../images/magicshroomscolor.jpg);
  background-size: cover;
  background-position: 50% 25%;
  display: flex;
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
.mainNosotros .textoNosotros {
  font-size: small;
  font-weight: 600;
  margin: 2rem;
}
.mainNosotros .imgNosotros {
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  margin: 6rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
@media screen and (max-width: 790px) {
  .mainNosotros .imgNosotros {
    margin: 2.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .mainNosotros {
    height: auto;
  }
}

/* contacto */
#h1Form {
  text-align: center;
  padding: 30px;
}

.formulario {
  width: 80%;
  margin: 25px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario #nombre, .formulario #email, .formulario #fechaNacimiento, .formulario #mensaje, .formulario #apellido {
  display: block;
  width: 30%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .formulario #nombre, .formulario #email, .formulario #fechaNacimiento, .formulario #mensaje, .formulario #apellido {
    width: 60%;
  }
}
.formulario #mensaje {
  max-height: 30vh;
  max-width: 80%;
  min-width: 30%;
  min-height: 5vh;
}
@media screen and (max-width: 1200px) {
  .formulario #mensaje {
    min-width: 60%;
  }
}
.formulario #enviarForm {
  display: block;
  width: 29%;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formulario #enviarForm:hover {
  background-color: #333;
}

/* experiences */
.mainExperiences {
  height: 600px;
  width: 100%;
  background-image: url(../images/mushroomplano.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.mainExperiences .callExperiences {
  width: 100%;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.mainExperiences .callExperiences .enlaceBoton {
  margin-top: 2rem;
}
.mainExperiences .callExperiences h1 {
  text-align: center;
  margin-bottom: 3rem;
  text-shadow: 1.5px 1px black;
}
.mainExperiences .callExperiences p {
  margin: 0 15rem;
  text-shadow: 1.5px 1px black;
}
@media screen and (max-width: 1200px) {
  .mainExperiences .callExperiences p {
    margin: 0 5rem;
  }
}
.mainExperiences .callExperiences h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-align: center;
  text-shadow: 1.5px 1px black;
}

.textExperiences {
  margin: 6rem 0 2rem 0;
}
.textExperiences h1 {
  text-align: center;
  margin-bottom: 4rem;
}
.textExperiences h4 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-align: center;
}

.bottomExperiences {
  height: 500px;
  width: 100%;
  background-image: url(../images/magicshroomscolor.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 8rem;
}

/*# sourceMappingURL=styles.css.map */
